<div class="container">
    <div class="header">
        <div class="heading"><h1>Sorting Visualiser</h1></div>
        <div class="btns">
            <li onclick="generate()">New Array</li>
            <li onclick="sort()">Sort</li>
        </div>
    </div>

    <div class="visualizer-wrapper">    
        <div class="main-content">
            {{!-- <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div> --}}
        </div>
    </div>
</div>